.tasks-cards {
  .card {
    &.is-completed {
      opacity: 0.5;
    }

    .card-content {
      text-align: center;

      .task-description {
        margin-top: 10px;
      }
    }

    .card-actions {
      display: flex;
      justify-content: center;
    }
  }
}